<section class="container">
  <div class="home">
    <div class="row home">
      <div id="input" class="column column-25">
        <h4>Ruby</h4>
        <%= form_with url: "/explores", id: "code", local: false do |form| %>
          <fieldset>
            <div id="editor-container">
              <%= form.text_area :code, id: "editor", value: @explore.code %>
            </div>
            <br />
            <h5>Compiler Options</h5>
            <% @explore.flags.each do |flag, value| %>
              <div>
                <%= form.check_box flag, {checked: value}, "true", "false" %>
                <%= form.label flag, flag.to_s, class: "label-inline" %>
              </div>
            <% end %>
            <%= form.submit "analyze", class: "button-primary" %>
            <button class="button button-outline" onClick="copyShare()">Copy link</button>
          </fieldset>
        <% end %>
      </div>
      <div id="result" class="column column-75">
        <% if @explore.error %>
            <%= render "error" %>
        <% else %>
          <%= render "explore" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
 window.addEventListener("load", () => {
   const element = document.querySelector("#code");
   const result = document.querySelector("#result");
   const editor = document.querySelector("#editor");
   element.addEventListener("ajax:success", (event) => {
     const [_data, _status, xhr] = event.detail;
     result.innerHTML = xhr.responseText;
   });
   element.addEventListener("ajax:error", () => {
     result.innerHTML = "ERROR";
   });
 });

 function toggleResult(id) {
   const el = document.querySelector(id);
   const toggle = document.querySelector(id + "-toggle");
   if (el.style.display == "none") {
     el.style.display = "block";
     toggle.text = "hide";
   } else {
     el.style.display = "none";
     toggle.text = "show";
   }
 }

 function copyShare() {
   el = document.querySelector("#share-link");
   el.focus();
   el.select();
   el.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
   document.execCommand("copy");
 }

 function copyRuby() {
   el = document.querySelector("#ruby-link");
   el.focus();
   el.select();
   el.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
   document.execCommand("copy");
 }
</script>
